@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #0d1117;
  --assistant-color: #161b22;
  --input-font-color: #c2c3c5;
  --border-color: #30363d;
}

body {
  font-family: "Albert Sans", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--main-color);
  color: #fff;
}

form {
  width: 50%;
  background-color: var(--assistant-color);
  margin: 1.5rem 0;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
}
form input {
  flex: 1;
  padding: 0.4rem;
  background-color: var(--main-color);
  border: none;
  font-family: inherit;
  color: var(--input-font-color);
}
form input:focus {
  outline: none;
}

form input::placeholder {
  letter-spacing: 5px;
}

form button {
  background: transparent;
  border: 1px solid var(--border-color);
  color: #fff;
  position: absolute;
  right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
form button i {
  font-size: 1rem;
  padding: 5px;
}

main .card {
  background-color: var(--assistant-color);
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  max-width: 300px;
  max-height: 650px;
  border: 1px solid var(--border-color);
  padding: 1rem;
}
main .card img {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid var(--main-color);
}
main .card .card-title {
  text-align: center;
  margin: 10px 0;
}
main .card .card-title small {
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--input-font-color);
  border-bottom: 1px solid var(--input-font-color);
  padding-bottom: 10px;
}
main .card p {
  line-height: 1.5;
  overflow-y: auto;
}

main .card ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main .card ul li {
  background-color: var(--border-color);
  color: var(--input-font-color);
  padding: 5px;
  font-size: 1rem;
}
.repos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  flex-wrap: wrap;
}
.repos a {
  color: #3696ee;
  text-decoration: none;
}
